name: 'Build'
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: '${{ matrix.os_label }}, ${{ matrix.c_compiler_label }}, ${{ matrix.build_type }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux (GCC)
          - os: ubuntu-latest
            os_label: Linux
            c_compiler: gcc
            c_compiler_label: GCC
            build_type: Release
          - os: ubuntu-latest
            os_label: Linux
            c_compiler: gcc
            c_compiler_label: GCC
            build_type: Debug

          # Linux (Clang)
          - os: ubuntu-latest
            os_label: Linux
            c_compiler: clang
            c_compiler_label: Clang
            build_type: Release
          - os: ubuntu-latest
            os_label: Linux
            c_compiler: clang
            c_compiler_label: Clang
            build_type: Debug

          # Windows (MSVC)
          - os: windows-latest
            os_label: Windows
            c_compiler: msvc
            c_compiler_label: MSVC
            build_type: Release
          - os: windows-latest
            os_label: Windows
            c_compiler: msvc
            c_compiler_label: MSVC
            build_type: Debug

          # Windows (GCC/MSYS2)
          - os: windows-latest
            os_label: Windows
            c_compiler: gcc
            c_compiler_label: GCC
            build_type: Release
          - os: windows-latest
            os_label: Windows
            c_compiler: gcc
            c_compiler_label: GCC
            build_type: Debug

    env:
      CC: ${{ matrix.c_compiler }}

    defaults:
      run:
        shell: ${{ (matrix.os == 'windows-latest' && matrix.c_compiler == 'gcc') && 'msys2 {0}' || 'bash' }}

    steps:
      - uses: actions/checkout@v6

      - name: 'Setup MSYS2'
        if: runner.os == 'Windows' && matrix.c_compiler == 'gcc'
        uses: msys2/setup-msys2@v2
        with:
          release: false
          update: false
          msystem: ucrt64
          install: >
            base-devel
            mingw-w64-ucrt-x86_64-toolchain
            mingw-w64-ucrt-x86_64-cmake

      - name: Cache Dependencies
        id: cache-cmake-deps
        uses: actions/cache@v5
        with:
          key: cmake-deps-src-${{ hashFiles('Dependencies.cmake') }}
          restore-keys: |
            cmake-deps-src-
          enableCrossOsArchive: true
          path: ${{ (runner.os == 'Windows' && matrix.c_compiler == 'gcc') && 'C:\msys64\home\runneradmin\.cache\cmake_deps_src' || '~/.cache/cmake_deps_src' }}

      - name: Set Arguments
        run: |
          if [[ "${{ matrix.build_type }}" == "Debug" ]]; then echo "DEBUG_ARG=--debug" >> $GITHUB_ENV; fi
          if [[ "${{ matrix.c_compiler }}" == "gcc" ]]; then echo "ANALYZE_ARG=--analyze" >> $GITHUB_ENV; fi
          if [[ "${{ matrix.os }}" == "windows-latest" && "${{ matrix.c_compiler }}" == "gcc" ]]; then echo "CMAKE_GENERATOR=MinGW Makefiles" >> $GITHUB_ENV; fi

      - name: 'CMake: Configure'
        run: bash build.sh --config $DEBUG_ARG

      - name: 'CMake: Build'
        run: bash build.sh --skip-config $DEBUG_ARG $ANALYZE_ARG

      - name: 'Upload Build Artifacts'
        uses: actions/upload-artifact@v6
        with:
          name: reckon-build-${{ matrix.os_label }}-${{ matrix.c_compiler_label }}-${{ matrix.build_type }}
          path: build/
          if-no-files-found: error
          retention-days: 1

  build-docs:
    name: 'Docs'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6

      - name: 'Install Doxygen'
        run: |
          wget -q -O /tmp/doxygen.tar.gz https://github.com/doxygen/doxygen/releases/download/Release_1_14_0/doxygen-1.14.0.linux.bin.tar.gz &&
          tar -C /tmp -xzf /tmp/doxygen.tar.gz &&
          sudo make -C /tmp/doxygen-* install &&
          rm -r /tmp/doxygen-* &&
          rm /tmp/doxygen.tar.gz

      - name: 'Build Documentation'
        run: bash build.sh --docs

      - name: 'Upload Build Artifacts'
        uses: actions/upload-artifact@v6
        with:
          name: reckon-build-docs
          path: build/docs/html/
          if-no-files-found: error
          retention-days: 1
